<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!--socket io client library-->
    <script src="js/socket.io.js"></script>

    <!-- Other Libraries-->
    <script src="lib/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="lib/angular-socket-io/socket.js"></script>


    <!-- your app's js -->

    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>

  </head>
  <body ng-app="callidus">

    <ion-pane ng-controller="callidus_controller">
      <ion-header-bar class="bar-positive padding-horizonta">
        <h1 class="title">Callidus</h1>

      </ion-header-bar>

      <ion-content padding="true" class="has-header">
        <button class=" button-energized button-block  icon-left ion-lightbulb button"  ng-class="{'active': isActive}"  id="rele001" ng-click="releControl(&apos;rele001&apos;);activeButton()">Lampada</button>
        <button class="button button-assertive button-block  icon-left ion-monitor"  id="rele002" ng-click="releControl(&apos;rele002&apos;)">Monitor</button>
        <button class="button button-balanced button-block  icon-left ion-social-rss" id="rele003" ng-click="getReleStatus()">Sensor</button>

      </ion-content>
    </ion-pane>
  </body>
</html>
